<html>

<head>
  <title>Forgot Password</title>
</head>

<body>
  <h1>Forgot Password</h1>
  <p>Hi {{name}},</p>
  <p>Click <a href="{{url}}/reset-password/?token={{token}}">here</a> to reset your password.</p>
</body>

</html>